@tailwind base;
@tailwind components;
@tailwind utilities;


#__next , body, html{
  height: 100%;
  font-family: 'Manrope', sans-serif;
}
tspan { font-family: 'Manrope', sans-serif !important;
  color: #718096;}
@layer base {
  @font-face {
    font-family: "Inter";
    font-weight: 500;
    src: url("/fonts/Inter-Medium.ttf");
    src: local("Inter"), local("Inter"),
      url("/fonts/Inter-Medium.ttf") format("opentype");
  }

  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url("/fonts/Poppins-SemiBold.ttf") format("tff");
    src: local("Poppins"), local("Poppins"),
      url("/fonts/Poppins-SemiBold.ttf") format("opentype");
  }

  @font-face {
    font-family: "Poppins-medium";
    font-weight: 500;
    src: url("/fonts/Poppins-Medium.ttf") format("tff");
    src: local("Poppins-medium"), local("Poppins-medium"),
      url("/fonts/Poppins-Medium.ttf") format("opentype");
  }


 
}

@layer components{
  
  .btn {
    @apply flex items-center justify-center gap-2  font-semibold px-5 py-2 transition duration-300 hover:-translate-y-0.5 transform ease-in-out hover:ring-2  active:ring-4  ring-1
  }

  .btn-primary {
    @apply bg-primary text-white
  }

  .btn-default { @apply ring-white }

  .btn-secondary { @apply ring-primary text-primary }

  .light_input {
    @apply text-tex-black ring-1 ring-black bg-inherit bg-white  border-none shadow-none  rounded-md px-5 w-full
  }
}

.btn {
  border-radius: 16px;
}

.btc {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.135) -16.33%, rgba(255, 255, 255, 0) 29.46%);
transform: matrix(-1, 0, 0, 1, 0, 0);
}